.header_nav01 li {
    display: inline;
    list-style: none;
    text-decoration: underline;
    background-color: yellow;
    border: 1px solid red;
    padding: 5px 15px 5px 15px;
    margin: 0 0 0 30px;
    text-align: center;
}
.header_part01 {
    text-align: center;
}
img.float_property02{
    margin-top: -50px;
    float: right;
}
.float_property03 {
    float: left;
}
.float_property04 {
    position: absolute;
    top: 100px; left: 300px;
    z-index: 1;
}
.float_property05 {
    position: absolute;
    top: 150px; left: 350px;
    z-index: 2;
}
.float_property06 {
    position: absolute;
    top: 200px; left: 400px;
    z-index: 3;
}
.blog_body {
    position: absolute;
    background-color: darkkhaki;
    clear: both;
}
.blog_header {
    text-align: center;
    background-color: thistle;
}
.blog_nav {
    width: 300px;
    display: table-cell;
    background-color: darkgoldenrod;
    word-wrap: break-word;
    padding-left: 30px;

}
.blog_section {
    word-wrap: break-word;
    background-color: yellow;
    display: table-cell;
    padding-left: 50px;
    padding-right: 50px;
}
.blog_nav p {
    word-wrap: break-word;
    padding-left: 50px;
}
.blog_nav img {
    padding-left: 30px;
}
.blog_footer {
    text-align: center;
    background-color: sienna;
}
.blog_dl dt {
    font-size: 15px;
    font-weight: bold;
}
.blog_img_space {
    opacity: 0.4;
}
.blog_img_space:hover {
    opacity: 1.0;
}
.transition_test01 {
    width: 100px;
    height: 50px;
    margin-top: 200px;
    border: 1px solid red;
    background-color: yellow;
    transition: width 5s;
    clear: both;
}
.transition_test01:hover {
    width: 200px;
}
.transform_test01 {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    background: yellow;
    transition: width 5s, height 5s, border 5s , transform 5s ;
    -webkit-transform: width 5s, height 5s, border 5s, -webkit-transform 5s;
}
.transform_test01:hover {
    width: 200px;
    height: 100px;
    border: 10px solid red;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
#translate_test00 div{
    width: 50px;
    height: 50px;
    background-color: yellow;
    border: 1px solid black;
    text-align: center;
}
#translate_test02 {
    transform: translate(100px,0px);
    background-color: rgb(17, 17, 224);
}
#translate_test03 {
    transform: scale(1.2,1.2);
    background-color: brown;
}
#translate_test04 {
    transform: rotate(30deg);
    background-color: chartreuse;
}
#skew_test00 div{
    width: 50px;
    height: 50px;
    background-color: yellow;
    border: 1px solid black;
    text-align: center;
}
#skew_test01 {
    transform: skew(30deg,20deg);
    background-color: blue;
}
article div {
    clear: both;
    background-color: green;
    height: 150px;
    width: 150px;
}
.trans01_3d {
    background-color: yellow;
    border: 1px solid black;
}
.trans02_3d {
    backface-visibility: visible;
    transform-origin: 50% 42%;
    transform: perspective(500px) rotateY(59deg) rotateX(0deg);
}
.animation_test00 {
    width: 100px;
    height: 30px;
    background-color: red;
    position: relative;
    animation: 2s myani_test00;
    animation-iteration-count: infinite;
}
@keyframes myani_test00 {
    0% {left: 0px; top: 0px;}
    25% {left: 100px; top: 0px;}
    50% {left: 200px; top: 0px;}
    75% {left: 100px; top: 0px;}
    100% {left: 0px; top: 0px;}
}
.animation_test01 {
    width: 100px;
    height: 30px;
    background-color: red;
    position: relative;
    animation: 2s myani_test01;
    animation-iteration-count: infinite;
}
@keyframes myani_test01 {
    0% {background-color: red; left: 0px; top: 0px;}
    25% {background-color: red; left: 100px; top: 0px;}
    50% {background-color: yellow; left: 200px; top: 0px;}
    75% {background-color: blue; left: 100px; top: 0px;}
    100% {background-color: blue; left: 0px; top: 0px;}
}
.animaiton_test02 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
    -webkit-animation-name: bounce;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
}
@-webkit-keyframes bounce {
    from, to {
        bottom: 0px;
        -webkit-animation-timing-function: ease-out;    }
    50% {
        bottom: 200px;
        -webkit-animation-timing-function: ease-in;
    }        
}
#ex_a {
    width: 300px;
    height: 120px;
    margin-top: 25px;
    margin-left: 40px;
}
#ex_b {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 50px;

}
#trans_final_ex00 {
    width: 200px;
    height: 200px;
    background-color: red;
    transition: all ease 2s;
}
#trans_final_ex00:hover {
    background-color: yellow;
    transform: rotate(360deg) scale(2);
}
.final_lay_header {
    margin-top: 50px;
    background-color: yellow;
}
.final_lay_nav {
    background-color: red;
}
.final_lay_body {
    padding: 0;
    margin: 0;
    width: 50%;
}
.final_lay_Lside {
    background-color: blue;
    width: 32%;
    height: 200px;
    float: left;
}
.final_lay_st {
    background-color: green;
    width: 36%;
    height: 200px;
    float: left;
}
.final_lay_Rside {
    background-color: indigo;
    width: 32%;
    height: 200px;
    float: left;
    margin-bottom: 50px;
}
.move_rectangle {
    clear: both;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: red;
    animation-name: rectangle_move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    -webkit-animation: rectangle_move 5s infinite;
}
@keyframes rectangle_move {
    0% {top: 0px; left: 0px;}
    25% {top: 0px; left: 200px;}
    50% {top: 200px; left: 200px;}
    75% {top: 200px; left: 0px;}
    100% {top: 0px; left: 0px;}
}
@-webkit-keyframes rectangle_move {
    0% {top: 0px; left: 0px;}
    25% {top: 0px; left: 200px;}
    50% {top: 200px; left: 200px;}
    75% {top: 200px; left: 0px;}
    100% {top: 0px; left: 0px;}
}

