* {
  padding: 0;
  margin: 0;
}
.home_main_name {
  vertical-align: 20px;
}

.home_main_atag {
  text-decoration: none;
}

.home_nav {
  margin-top: 50px;
  margin-bottom: 150px;
  padding: 10px 0;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.home_nav_menu {
  list-style: none;
  text-align: center;
}

.home_nav_menu li {
  padding: 0 50px;
  display: inline;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
}

#home_body {
  background-color: #f3f1e9;
}

#home_layout {
  height: 100%;
  text-align: center;
}

.home_main_header {
  text-align: center;
}

.home_nav_menu li a {
  text-decoration: none;
  color: black;
}

.home_nav_menu li a:hover {
  color: blue;
}
.left_aside_ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #333;
  list-style: none;
  text-indent: 15px;
}
.left_aside_ul li {
  background: gray;
}
.left_aside_ul li#active {
  background: #d40203;
}

#left_aside {
  margin-left: 20%;
  float: left;
  width: 180px;
  margin-top: 50px;
}
#left_aside h4 {
  font-size: 20px;
}

#left_aside a {
  text-decoration: none;
  color: #fff;
  display: block;
}

#left_aside a:hover {
  background: #d40203;
}

#right_aside {
  float: left;
  margin-left: 10px;
  padding: 0px;
  width: 300px;
}
.home_footer {
  clear: both;
  width: 100%;
  height: 50px;
  background-image: url(../img/home_main_mark.png);
  background-position: top left;
  background-repeat: repeat-x;
}

#main_st_info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #464646;
  overflow: hidden;
  width: 740px;
  float: left;
}

.register_body {
  height: 100%;
  background-color: #f3f1e9;
}

.register_field label {
  display: inline-block;
  width: 120px;
}

.register_field input {
  display: inline-block;
  width: 150px;
}

.home_SC_field label {
  display: inline-block;
  width: 80px;
}

.home_regi_password {
  margin-left: 80px;
  margin-top: -15px;
}

.home_SC_login_reset {
  margin-left: 70px;
  margin-top: 10px;
}

.regi_sub_reset {
  margin-left: 150px;
  margin-top: 10px;
}
.SC_table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.SC_body {
  height: 100%;
  background-color: honeydew;
}
.SC_table caption {
  color: red;
  text-decoration: underline;
  margin-bottom: 10px;
}
.SC_calc_buy_reset {
  text-align: center;
}
.com_menu01 {
  border: 1px solid black;
  float: left;
}
.com_menu02 {
  border: 1px solid black;
  float: left;
}

