#headerUl {
  list-style: none;
  left: 10%;
}
#headerUl li {
  float: left;
  line-height: 8;
}
#headerUl a {
  display: inline-block;
}
#headerH1 {
  font-size: 20px;
}
#navbar {
  display: block;
}
.choiceList {
  margin-top: 150px;
}

#restauInfo {
  text-align: center;
}

#restauInfo ul {
  list-style: none;
}

#restauInfo2 {
  text-align: center;
}
