#headerUl {
  list-style: none;
  left: 10%;
}
#headerUl li {
  float: left;
}
#headerUl a {
  display: inline-block;
  width: 15%;
}
#headerH1 {
  font-size: 20px;
}
#navbar {
  display: block;
}
.choiceList {
  margin-top: 150px;
}